h1{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    color: rebeccapurple;
    text-decoration-color: rosybrown;
}
#inputdata {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.align-center {
    text-align: center;
}